%footer{:role => "contentinfo"}
  %p 561.320.1117
  %p info@viewthought.com
  %div
    %p ViewThought LLC
    %p 9314 Forest Hill Blvd.
    %p Suite 73
    %p Wellington, FL 33411
  %div
    %ul#nav
      %li
        = link_to image_tag('fixtures/shim.gif', :alt => 'Facebook', :width => '16', :height => '16'), root_path, :title => ''
      %li
        = link_to image_tag('fixtures/shim.gif', :alt => 'Github', :width => '16', :height => '16'), root_path, :title => ''
      %li
        = link_to image_tag('fixtures/shim.gif', :alt => 'Twitter', :width => '16', :height => '16'), root_path, :title => ''
      %li
        = link_to image_tag('fixtures/shim.gif', :alt => 'LinkedIn', :width => '16', :height => '16'), root_path, :title => ''
      %li
        = link_to image_tag('fixtures/shim.gif', :alt => 'Flickr', :width => '16', :height => '16'), root_path, :title => ''

  %p.copyright An Ojala Inc. company &copy; ViewThought 2012
