%nav{:role => "navigation"}
  %ul#nav
    %li= link_to image_tag('fixtures/shim.gif', :alt => 'Portfolio', :width => '16', :height => '16'), portfolio_path, :title => 'Portfolio'
    %li= link_to image_tag('fixtures/shim.gif', :alt => 'Team', :width => '16', :height => '16'), team_path, :title => 'Team'
    %li= link_to image_tag('fixtures/shim.gif', :alt => 'Contact', :width => '16', :height => '16'), contact_path, :title => 'Contact'
    %li= link_to image_tag('fixtures/shim.gif', :alt => 'Thoughts', :width => '16', :height => '16'), thoughts_path, :title => 'Thoughts'
    %li= link_to image_tag('fixtures/shim.gif', :alt => 'Labs', :width => '16', :height => '16'), labs_path, :title => 'Labs'
