%nav{:role => "navigation"}
  %ul#nav
    %li= link_to image_tag('fixtures/shim.gif', :alt => 'Portfolio', :width => '16', :height => '16'), root_path, :title => ''
    %li= link_to image_tag('fixtures/shim.gif', :alt => 'Team', :width => '16', :height => '16'), root_path, :title => ''
    %li= link_to image_tag('fixtures/shim.gif', :alt => 'Contact', :width => '16', :height => '16'), root_path, :title => ''
    %li= link_to image_tag('fixtures/shim.gif', :alt => 'Thoughts', :width => '16', :height => '16'), root_path, :title => ''
    %li= link_to image_tag('fixtures/shim.gif', :alt => 'Lab', :width => '16', :height => '16'), root_path, :title => ''
