!!!
%html.no-js
  = head
  %body
    .wrapper
      %header{:role => 'banner', :id => 'home'}
        .container
          = render :partial => 'shared/logo'
          = render :partial => 'shared/social_links'
          =# render :partial => 'shared/navigation_icon'
      #main{:role => "main"}
        = yield
    = scripts
