!!!
/[if IEMobile 7]><html class="no-js iem7"><![endif]
/[if (gt IEMobile 7)|!(IEMobile)]><!-->
%html.no-js
  /<![endif]

  = head
  %body
    .wrapper#skrollr-body
      %header{:role => "banner"}
        .container
          = render :partial => 'shared/logo'
          = render :partial => 'shared/navigation_icon'
          %a{:href => 'tel:561-320-1117', :title => 'Main Number', :class => 'phone'} 561-320-1117
      #main{:role => "main"}
        = yield
      %footer#ft.vcard{:role => "contentinfo"}
        .container
          = render :partial => 'shared/footer'
    = scripts
