- content_for :navigation_text do
  %nav{:id => 'nav', :role => 'navigation'}
    = nav_tab 'Home', home_path, current: current_tab
    = nav_tab 'Work', work_path, current: current_tab
    =# nav_tab 'Team', team_path, current: current_tab
    = nav_tab 'Contact', contact_path, current: current_tab
    = nav_tab 'Thoughts', thoughts_path, current: current_tab
    = nav_tab 'Labs', labs_path, current: current_tab
