%nav{:id => 'nav', :role => 'navigation'}
  = link_to 'Home', home_path, :title => 'Home'
  = link_to 'Work', work_path, :title => 'Work'
  = link_to 'Team', team_path, :title => 'Team'
  = link_to 'Contact', contact_path, :title => 'Contact'
  = link_to 'Thoughts', thoughts_path, :title => 'Thoughts'
  = link_to 'Labs', labs_path, :title => 'Labs'
