%nav{:role => "navigation"}
  %ul#nav
    %li
      = link_to 'Home', home_path, :title => 'Home'
    %li
      = link_to 'Work', work_path, :title => 'Work'
    %li
      = link_to 'Team', team_path, :title => 'Team'
    %li
      = link_to 'Contact', contact_path, :title => 'Contact'
    %li
      = link_to 'Thoughts', thoughts_path, :title => 'Thoughts'
    %li
      = link_to 'Labs', labs_path, :title => 'Labs'
