%nav{:role => "navigation"}
  %ul#nav
    %li
      = link_to 'Home', root_path, :title => 'Home'
    %li
      = link_to 'Team', root_path, :title => 'Team'
    %li
      = link_to 'Work', root_path, :title => 'Work'
    %li
      = link_to 'Contact', root_path, :title => 'Contact'
    %li
      = link_to 'Thoughts', root_path, :title => 'Thoughts'
    %li
      = link_to 'Labs', root_path, :title => 'Labs'
