= currently_at 'Contact'
- content_for :title do
  Contact

%section#contact-intro
  .container
    .contact-intro
      %p We would love to speak with you about your project! Feel free to call, email, or complete the inquiry form and hit send.
      .contact-info
        = render :partial => 'shared/phone_number'
        = render :partial => 'shared/social_links'
    .contact-form
      = render :partial => 'pages/contact_form'
  %a{:href => '#email-us', :title => 'Scroll Down', :class => 'white-white scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x25be;".html_safe}
    %span.screen-reader-text Scroll Down

%section#email-us
  .container
    .email-us
      %p ViewThought specializes in mobile Web design and development, usability testing, and we can help your team migrate an existing website to mobile.
      .email-button
        %span Email Us:&nbsp;&nbsp;&nbsp;
        = render :partial => 'shared/email'
  %a{:href => '#in-person', :title => 'Scroll Down', :class => 'gray-gray scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x25be;".html_safe}
    %span.screen-reader-text Scroll Down

%section#in-person
  #map
  #map-overlay
    .container
      .map-overlay
        %p Want to meet in person around West Palm Beach, Florida?
    %a{:href => '#home', :title => 'Scroll Up', :class => 'white-white bottom-arrow scroll autoblur'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x25b4;".html_safe}
      %span.screen-reader-text Scroll Up
