= currently_at 'Contact'
- content_for :title do
  Contact

%section#contact-hero
  .container
    .contact-hero
      %p Our style of web development is kind of like dancing. It's collaborative. Sometimes you lead, sometimes you follow&ndash;without stepping on your partner's toes!
  %a{:href => '#email-us', :title => 'Scroll Down', :class => 'white-white scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x25be;".html_safe}
    %span.screen-reader-text Scroll Down

%section#email-us
  .container
    .email-us.contact-email-us
      %p We are also nimble and quickly and gracefully adjust to changing end-user and business needs, and we  have fun.
      .email-button
        %span Email Us:&nbsp;&nbsp;&nbsp;
        = render :partial => 'shared/email'
  %a{:href => '#contact-intro', :title => 'Scroll Down', :class => 'gray-gray scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x25be;".html_safe}
    %span.screen-reader-text Scroll Down

%section#contact-intro
  .container
    .contact-intro
      %p Let's build something amazing! Feel free to call, email, or complete the inquiry form and hit send.
      .contact-info
        = render :partial => 'shared/phone_number'
        = render :partial => 'shared/social_links'
    .contact-form
      = render :partial => 'pages/contact_form'
  %a{:href => '#snail-mail', :title => 'Scroll Down', :class => 'white-white scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x25be;".html_safe}
    %span.screen-reader-text Scroll Down

%section#snail-mail
  .container
    .snail-mail
      %p.fn.org
        ViewThought
      .adr
        %p.street-address 9314 Forest Hill Blvd.
        %p.extended-address Suite 73
        %p
          %span.locality> Wellington
          ,
          %span.region Florida
          %span.postal-code 33414
  %a{:href => '#in-person', :title => 'Scroll Down', :class => 'gray-gray scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x25be;".html_safe}
    %span.screen-reader-text Scroll Down

%section#in-person
  #map
  #map-overlay
    .container
      .map-overlay.contact-map-overlay
        %p Want to meet in person around West Palm Beach, Florida?
    %a{:href => '#home', :title => 'Scroll Up', :class => 'white-white bottom-arrow scroll autoblur'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x25b4;".html_safe}
      %span.screen-reader-text Scroll Up
